.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.div_span_portfolio {
  display: flex;
  align-items: center;

}
.span_portfolio {
  color: #fff;
  font-weight: 500;
}

.header_nav {
  display: flex;
  gap: 2rem;
  color: rgba(255,255,255,0.75);
}

.link_nav {
  font-size: 1.4rem;
  font-weight: bolder;
}

.link_nav:hover {
  color: #fff;
}


.nav_socials {
  margin-right: 2rem;
  display: flex;
  gap: 2rem;
}
